---
layout: page
title: about
permalink: /about/
---

<img class="col one right" src="/img/profile_pic.jpg" alt="Profile picture">

<p>Hi!</p>

<p>My name is Gabriela, but call me Gabi or Gabby.</p>

<p>I'm a Brazilian software developer for hire.</p>

<p class="font-size-small">This December I graduate with a Bachelor's degree in <strong>Information Systems</strong> from USP (Universidade de Sao Paulo). It's very similar to a Computer Science major, but more focused on using CS to achieve objectives inside organizations.</p>

<div class="col two center">
	<p>I am passionate about using technology and data to make positive impact.</p>
</div>

<p class="font-size-small">I spent a year in <strong>University of Pennsylvania</strong> (2013-2014), with a full scholarship from <a href="http://www.cienciasemfronteiras.gov.br/web/csf-eng/" target="_blank">CsF</a>. I loved the university, the campus, and the city!</p>

<p class="font-size-small">My summer internship was at <a href="http://microsoftnewengland.com/Students" target="_blank">Microsoft New England</a>. It was an incredible opportunity, and I learned a lot! Plus I could enjoy the amazing atmosphere in Boston.</p>

<p class="font-size-small">I also worked at two education startups in Brazil: <a href="http://quantica.com.br/" target="_blank">Quantica</a> (working on <strong>Evoke</strong>) and <a href="http://silabe.com.br/" target="_blank">Sílabe</a>.</p>

<p class="font-size-small">Now I'm looking for a full-time job in Software Engineering. I want to learn as much as possible, devote my time to causes I believe in, and make sure I can contribute.</p>



<div class="col three center">
	<br/>
	<hr/>
	<br/>

	<p>Contact me:</p>

	<span class="contacticon">
		{% if site.owner.email %}
		<a href="mailto:{{ site.owner.email }}">
			<i class="fa fa-envelope-square"></i>
		</a>
		{% endif %}
		{% if site.owner.github %}
		<a href="https://github.com/{{ site.owner.github }}" target="_blank">
			<i class="fa fa-github-square"></i>
		</a>
		{% endif %}
		{% if site.owner.linkedin %}
		<a href="https://www.linkedin.com/in/{{ site.owner.linkedin }}" target="_blank">
			<i class="fa fa-linkedin-square"></i>
		</a>
		{% endif %}
		{% if site.owner.tumblr %}
		<a href="http://tumblr.com/{{ site.owner.tumblr }}" target="_blank">
			<i class="fa fa-tumblr-square"></i>
		</a>
		{% endif %}
		{% if site.owner.twitter %}
		<a href="https://twitter.com/{{ site.owner.twitter }}" target="_blank">
			<i class="fa fa-twitter-square"></i>
		</a>
		{% endif %}
	</span>

	<p class="caption">
		 I am best reachable by email: gabrielascardine (at) gmail (dot) com
	</p>

	<br/>
	<hr/>
	<br/>
</div>

<h3>Some <strong>causes</strong> that I care about:</h3>
<p class="font-size-small">Social good, data ethics, women in society (especially in tech and leadership), education, urban planning and pedestrians, homelessness... (the list is always growing.)</p>

<br />

<h3>You may know me from...</h3>

<p class="font-size-small">At USP, I was head of the Academic section of <strong>DASI</strong>. Among other things, I was in the organization committee of the Information Systems Week (SSI) in 2012 and 2013, and started the study group Sufoco. I was also a member of <a href="http://www.each.usp.br/petsi/" target="_blank">PET</a>, and co-founded <a href="http://conectesi.github.io" target="_blank">Conecte-SI</a> (if you're an alumni, join us!). My undergrad research was on data mining and social networks with Prof. Luciano Digiampietri.</p>

<p class="font-size-small">In high school, I went to <strong>CTI-Unesp</strong>, a vocation school where I studied Informatics. My final year project was a fluxogram interpreter called IF, and our "company" was called Else. We wrote weekly posts <a href="https://elsecti.wordpress.com/">on our blog</a> for the entire year, which now I realize was very useful.</p>

<p class="font-size-small">I also used to read and write Harry Potter fanfics, and later on, McFly fanfics. I made amazing friends in these communities. With one of them I co-founded the first Brazilian website about Twilight - which in 2007 was lots of fun!</p>