/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/** Variables **********************************************/
$nav-height:                    56px;
$horizontal-spacing-unit:       1em;
$vertical-spacing-unit:         1em;

@include media-query(medium-up) {
    $horizontal-spacing-unit:   2em;
    $vertical-spacing-unit:     2em;
}

/* portfolio tinkering */
$img_spacing: 5px; 
$img_height: 275px;
$caption_font_size: 12px;
$caption_color: #aaa;

/* BACKGROUND COLORS */
$background-color-primary: #333;
$background-color-secondary: #282828;

/* COLORS  */
$red:           #FF3636;
$orange:        #F29105;
$blue:          #2698BA;
$green:         #11D68B;
$lime_green:    #B7D12A;
$purple:        #B509AC;

$grey-color: #828282;
$grey-color-dark: #333;   /* footer */
$grey-color-light: #ddd;  /* navigation bar border */

$text-color: #666;

/* Set theme color *************************/
$theme-color: $red;


/************************************************************/

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 100;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    background: linear-gradient(45deg, $background-color-primary 50%, $background-color-secondary 50%) 0 100%;
    background-color: $background-color-primary;
    background-size: 20px 20px;
}


/**
 * Selection color
 */
::selection {
  background-color: desaturate(lighten($theme-color, 30%), 10%); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background-color: desaturate(lighten($theme-color, 30%), 10%); /* Gecko Browsers */
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $vertical-spacing-unit / 2;
}

.alignright {
    float: right;
}


hr{
    /* Inset, by Dan Eden */
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}


/**
 * Figures and images
 */
figure > img, img {
    display: block;
    width: 100%;
}

figcaption {
    font-size: $small-font-size;
}


/**
 * Lists
 */
ul, ol {
    margin-left: $horizontal-spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


/**
 * Forms
 */
input {
  border: solid 1px $grey-color-light;
  border-radius: 5px;
  padding: 7px 14px;
  margin-bottom: 10px
}
input:focus {
  outline: none;
  border-color: $grey-color;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 1.6em;
    margin-bottom: 0.1em;
}

h4 {
    font-size: 1.4em;
    margin-bottom: 0.1em;
}

/**
 * Links
 */
a {
    color: $text-color;
    text-decoration: none;
    border-bottom: 1px dotted $text-color;
    /*
    &:visited {
        color: darken($theme-color, 45%); 
    }*/
    
    &:hover {
        color: $theme-color;
        text-decoration: none;
    }
}

article a {
    color: $theme-color;
    font-weight: 100;

    &:hover {
        text-decoration: none;
    }
}

a.active {
    color: $theme-color;
    text-decoration: none;
}

button, a.button {
    border: 1px solid lighten($theme-color, 10%);
    border-radius: 5px;
    font-weight: 600;
    padding: 0.4em;
    font-size: 0.7em;
    background-color: transparent;
    color: $theme-color;
    cursor: pointer;
}

button:hover, a.button:hover {
    background-color: $theme-color;
    color: #FFFFFF;
}

button.active, a.button.active {
    background-color: $theme-color;
    color: #FFFFFF;
}

/* Google Chrome fix */
button:focus, a.button:focus {
    outline:0;
}

/**
 * Blockquotes
 */
blockquote {
    color: $text-color;
    border-left: 10px solid $grey-color-light;
    padding-left: $horizontal-spacing-unit / 2;
    font-size: 18px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: $grey-color-light;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */ 

.wrapper {
    max-width: -webkit-calc(1024px - (#{$horizontal-spacing-unit} * 2));
    max-width:         calc(1024px - (#{$horizontal-spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $horizontal-spacing-unit;
    padding-left: $horizontal-spacing-unit;
    @extend %clearfix;
}

/*@include media-query(medium-up) {
    .wrapper {
        padding-right: $horizontal-spacing-unit;
        padding-left: $horizontal-spacing-unit;
    }
}*/


/**
 * Clearfix
 */
%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Font
 */
.font-size-small {
    font-size: $small-font-size;
    line-height: 1.8em;
}